<% include ./partials/header %>
<div class="container profile">
    <h1>Profile</h1>
    <%if(!currentUser.email){%>
        <p>Email: <span id="profile-item">None</span></p>
    <%} else {%>
    <p>Email: <span id="profile-item"><%=currentUser.email%></span></p>
    <%}%>
    <p>Username: <span id="profile-item"><%=currentUser.username%></span></p>
</div>
    <div class="container profile-poll">
        <h4>Polls:</h4>
         

             <%=Polls.choices%>
            <% Polls.forEach(function(poll){%>
            <section>
                <form id="delete" action="/main/<%=poll._id%>?_method=DELETE" method="POST"><button class="btn btn-danger btn-delete"><span class="glyphicon glyphicon-trash"></span></button></form>
                        
                <a class="poll-item" href="/main/<%=poll._id%>"><p><%=poll.question%></p></a>
            </section>
            <% }) %>
            

   </div>
        <!--</ul>-->
    <!--</div>-->
    
    



<% include ./partials/footer %>
