<% include partials/header %>
    <div class="container">
        <h1>Show Poll Page</h1>
        <h4><strong><%= polls.question%></strong></h4>
       
        <div class="container">
            <div class="row">
                <%polls.choices.forEach(function(option){%>
                <p><%=option.answer%>: <%=option.count%></p>
                <% }) %>
            </div>
        </div>
        <form action="/main/<%=polls._id%>/chart" method="POST">
            <ul>
                <% polls.choices.forEach(function(option){%>
                <li><input type="radio" name="voteid" value="<%=option._id%>"> <%=option.answer%></li>
                <% }); %>
            </ul>
            <input class="btn btn-success" type="submit">
        </form>
        <a class="btn btn-warning" href="/main/<%=polls._id%>/edit">EDIT</a>
        <a href="/main">Go Back</a>
   
    </div>

<% include partials/footer %>